/* LANDING PAGE MODULE CSS */

.landing_container {
    display:flex;
    flex-direction: column;
    height:40%;
    margin:auto 0 auto;
    align-self: center;
    justify-content: center;
    color:white;
    padding: 10px;
}