/* APPLY GLOBAL STYLES TO WEB APPLICATION */

* {
  box-sizing: border-box;
}


#root,html {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  height: 100%;
}


.App {
  text-align: center;
  background-color:green;
  padding: 0;
  margin:0;
  height: 100%;
  
}

h1 {
  font-size:48px;
}

h2 {
  font-size: 39px;
}

h3 {
  font-size:31.25px;
}

h4 {
  font-size:25px
}

h5 {
  font-size:20px
}

/* GLOBAL BUTTON STYLES */
button {
  margin-top:20px;
  padding: 10px 16px;
  width:200px;
  background-color:#762c4d;
  color:white;
  border-radius:10px;
  border:none;
  cursor: pointer;
}

button:hover {
  background-color: #5C223C;
}