/* APPLY GLOBAL STYLES TO WEB APPLICATION */

* {
  box-sizing: border-box;
}


/* #root,html {
  height: 100%;
} */
body {
  padding: 0;
  margin: 0;
  height: 100%;
  
}


.App {
  text-align: center;
  background-color:green;
  padding: 0;
  margin:0;
  height: 100%;
  min-height: 100vh;
  
  
}

#logo {
  padding: 10px;
}

h1 {
  font-size:48px;
}

h2 {
  font-size: 39px;
}

h3 {
  font-size:31.25px;
}

h4 {
  font-size:25px
}

h5 {
  font-size:20px
}

body {
  font-family: 'Roboto', sans-serif;
  
}

p {
  font-size: 16px;

}

h1,h2,h3,h4,h5,button,a {
  font-family:'Poppins', sans-serif;
}


/* GLOBAL BUTTON STYLES */
button {
  margin-top:20px;
  padding: 10px 16px;
  width:200px;
  background-color:#762c4d;
  color:white;
  border-radius:10px;
  border:none;
  cursor: pointer;
}

button:hover {
  background-color: #5C223C;
}

.popup-overlay {
  overflow: scroll;
}

@media screen and (max-width:900px) {
  button {
    margin-top:20px;
    padding: 10px 16px;
    width:200px;
  
  }
}

@media screen and (max-width:420px) {
  button {
    margin-top:20px;
    padding: 10px 16px;
    width:140px;
  
  }

  h1 {
    font-size:39px;
  }
  
  h2 {
    font-size: 31.25px;
  }
  
  h3 {
    font-size:25px;
  }
  
  h4 {
    font-size:20px
  }
  
  h5 {
    font-size:18px
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    
  }
  
  p,span {
    font-size: 12px;
  
  }

  .popup-content {
    width:100% !important
  }
  }
