/* CARD COMPONENT MODULE CSS FILE */

/* CARDS OUTER CONTAINER */
.card_container {
  width: 200px;
  height: 300px;
  perspective: 800px;
  background-color: green;
}

/* CARDS INNER CONTAINER */
.inner_container {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform;
  transform-style: preserve-3d;
}

/* CARD POSISTION AND DIMENSIONS */
.card_face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

/* INITIALLY ROTATE CARD 180 DEGREES */
.card_back {
  transform: rotateY(180deg);
  background: url("../../../../assets/images/card.png");
}

/* IF USER CHOOSES TO PLAY HIDE CARDS */
.is_flipped {
  transform: rotateY(180deg);
}

/* SHUFFLE ANIMATION WHEN PLAY IS CLICKED */
.shuffled {
  animation: shuffle_cards ease;
}

@keyframes shuffle_cards {
  0% {
    position: relative;
    pointer-events: none;
  }
  25% {
    position: absolute;
  }
  75% {
    position: relative;
  }
  100% {
    position: absolute;
    pointer-events: unset;
  }
}
