/* CARD COMPONENT MODULE CSS FILE */

/* CARDS OUTER CONTAINER */
.card_container {
  width: 200px;
  height: 300px;
  flex-basis: 25%;
  perspective: 800px;
  background-color: green;
}

/* CARDS INNER CONTAINER */
.inner_container {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform;
  transform-style: preserve-3d;
}

/* CARD POSISTION AND DIMENSIONS */
.card_face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  background-size:contain;
  background-repeat:no-repeat;
}

/* INITIALLY ROTATE CARD 180 DEGREES */
.card_back {
  
  transform: rotateY(180deg);
  background: url("../../../../assets/images/card.png");
  background-size:contain;
  background-repeat: no-repeat;
}

/* IF USER CHOOSES TO PLAY HIDE CARDS */
.is_flipped {
  transform: rotateY(180deg);
  background-size:contain;
}

/* SHUFFLE ANIMATION WHEN PLAY IS CLICKED */
.shuffled {
  animation: shuffle_cards ease;
}

@keyframes shuffle_cards {
  0% {
    position: relative;
    pointer-events: none;
  }
  25% {
    position: absolute;
  }
  75% {
    position: relative;
  }
  100% {
    position: absolute;
    pointer-events: unset;
  }
}


@media screen and (max-width:900px) {
  .card_container {
    width: 80px;
    height: 150px;
    flex-basis: 25%;
    perspective: 800px;
    background-color: green;
  }
  
}