.card_container {
    width: 200px;
    height: 300px;
    perspective: 800px;
}

.inner_container {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    
    
}

.card_face {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}
.card_front {
    background:red;
    transform: rotateY(180deg);

}

.card_back {
    
    background:url('../../../../assets/images/card.jpg')
}

.is_flipped {
    transform: rotateY(180deg);
  }