/* Game Page COMPONENT MODULE CSS FILE */

.container {
  display: flex;
  flex-direction: column;
  background-color: green;
  height: 100%;
  justify-content: space-around;
}

.container>div {
  margin-bottom: 100px;
}
.bottom_panel {
  display: flex;
  width:100%;
  justify-content: space-around;
  align-items: flex-end;
  height: 200px;
}
.event_viewer {
  
  flex-basis:30%;
  background-color:white;
  height: 100%;
  padding:5px;
  overflow-y:scroll;
  font-size:12px;
  text-align:left;

  }

.event_viewer p {
  font-size: 12px;
}
