.container {
    /* width:100%;
    height: 800px;
    max-height: 800px; */
    position: relative;
   height: 700px;
   
   
}

.user_panel {
    position: absolute;
    bottom:0px;
    right: 0px;
    padding: 20px;
    
}

.bet_buttons {
    position: absolute;
    bottom: 0px;
    padding: 0px;
    right:400px;
}

.bet_buttons button {
    padding:30px
}

.deck_container {
    /* position: relative; */
}

.deck_container img {
    position: absolute;
    top:0;
    right: 100px;

}