/* GAME BOARD COMPONENT MODULE CSS FILE */
.board_container {
  position: relative;
  width: 100%;
  height: 80%;
}

.inner_board_container {
  display: flex;
  position: absolute;
  top: 200px;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.inner_board_container > div {
  /* padding: 10px; */
}

.button_row > button {
  margin-right: 10px;
}
