/* Game Page COMPONENT MODULE CSS FILE */

.container {
  position: relative;
  height: 80%;
}

.user_panel {
  position: absolute;
  bottom: 0px;
  right: 10%;
  padding: 20px;
}

.bet_buttons {
  position: absolute;
  bottom: 0px;
  padding: 20px;
  right: 40%;
  width: 20%;
  min-width: 200px;
}

.bet_buttons button {
  padding: 50px;
  border-radius: 50%;
  color: white;
}

.round_stats {
  position: absolute;
  right: 10%;
  bottom: 80px;
  padding: 20px;
}

.event_viewer {
  position: absolute;
  width:300px;
  bottom:0px;
  left:20px;
  height:300px;
  border:1px solid black;
  text-align:left;
  padding: 20px;
  overflow-y: scroll;
  background-color:white;
  font-size:12px;
}

.event_viewer>span {
  font-size:larger;
}