.board_container {
position: relative;
width:100%;
height: 100%;    
}

.inner_board_container {
display:flex;
position: absolute;
top:100px;
justify-content: center;
width:100%;
height: 100%;
}

.inner_board_container > div {
    /* padding: 10px; */
    
}