/* GAME BOARD COMPONENT MODULE CSS FILE */
 .board_container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

 .board_container > div {
   display:flex;
   
 }

 .button_row button {
   margin-left:10px;
 }