  .modal {
    overflow-y: scroll;
  }

  .modal > .header {
    width: 100%;
    font-size: 18px;
    text-align: center;
    padding: 5px;
  }
  .modal > .content {
    width: 100%;
    padding: 10px 5px;
  }

  .content>h3 {
    text-align:center;
    margin-bottom:50px;
  }
  .modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
  }
  .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }

  .button {
      display:block;
      cursor: pointer;
      
      color:white
  }

  .how_to_container {
    display: flex;
    flex-direction: column;
  }

  .how_to_container>div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 70px;

  }

  .how_to_container>div p {
    flex-basis:40%;
  }

  .how_to_container>div img {
    flex-basis:40%;
  }
  
