/* ROUND STATS COMPONENT CSS FILE */

.flex_container {
  display: flex;
  flex-direction: column;
  background-color: dimgray;
  justify-content: center;
  align-items: flex-start;
}

.flex_container > span {
  width:100%;
  padding: 5px;
  border-bottom: 1px solid black;
  color:white;
}
