.flex_container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-bottom: none;
    background-color: darkgrey;
    color:white;
    
}

.flex_container > span {
    display:block;
    padding: 10px;
    border-bottom:1px solid black;
}
