/* USERS PANEL COMPONENT CSS FILE */

.flex_container {
  display: flex;
  justify-content:center;
  align-items: center;
  background-color: dimgray;
}

.flex_container > span {
  padding: 10px;
  border-right: 1px solid black;
  color:white;
}

.flex_container a {
  color:wheat;
  cursor: pointer;
  display:block
}